$color-azul: #0098DA;
$color-naranja: #F58834;
$color-verde: #009B54;
$color-negro: #000000;
$color-blanco: #ffffff;
$color-gris-oscuro: #333333;  // Texto oscuro
$color-gris-claro: #f0f0f0;   // Fondo claro